jupyter-book==1.0.4.post1
sphinx==7.4.7
myst-nb==1.4.0
myst-parser==3.0.1
sphinx-book-theme==1.1.4
linkify-it-py==2.1.0
ase==3.25.0
pymatgen==2026.3.23
numpy==2.4.4
scipy==1.16.0
matplotlib==3.10.0
nglview==3.1.4
